{% extends 'base_aspel.html' %}
{% load static %}
{% block content %}

<div class="aspel"> 
  <div class="info"><img src="{% static '/Images/logo-aspel.svg' %}" alt=""/>
    <h2>¿Qué es aspel?</h2>
    <p>Los sistemas Aspel buscan eficientizar y automatizar procesos para micro, medianas y grandes empresas. Permitiendo simplificar las tareas administrativas, de contabilidad, facturación y nómina de la empresa e integrarlas a nuevas tecnologías.</p>
  </div>
  <div class="logos">
    <div class="logos__SAE"> <a href="{% url 'sae' %}"> 
        <p>Aspel SAE</p><img src="{% static '/Images/SAE.png' %}" alt="Más informacion sobre el sistema Aspel SAE" title="Controla el ciclo de las operaciones de compra y venta de toda su empresa."/></a></div>
    <div class="logos__COI"> <a href="{% url 'coi' %}"> 
        <p>Aspel COI</p><img src="{% static '/Images/COI.png' %}" alt="Más informacion sobre el sistema Aspel COI" title="Lleva de manera precisa y segura toda la contabilidad de tu empresa."/></a></div>
    <div class="logos__NOI"><a href="{% url 'noi' %}"> 
        <p>Aspel NOI</p><img src="{% static '/Images/NOI.png' %}" alt="Más informacion sobre el sistema Aspel NOI" title="Controla todos los elementos de tu nómina"/></a></div>
    <div class="logos__CAJA"><a href="{% url 'caja' %}"> 
        <p>Aspel CAJA</p><img src="{% static '/Images/CAJA.png' %}" alt="Más informacion sobre el sistema Aspel CAJA" title="Convierte tu equipo de cómputo en un punto de venta"/></a></div>
    <div class="logos__ADM"><a href="{% url 'adm' %}"> 
        <p>Aspel ADM</p><img src="{% static '/Images/ADM.png' %}" alt="Más informacion sobre el sistema Aspel ADM" title="Administra operaciones de compra, venta en cada una de las empresas que manejamos desde la nube"/></a></div>
    <div class="logos__PROD"><a href="{% url 'prod' %}"> 
        <p>Aspel PROD</p><img src="{% static '/Images/PROD.png' %}" alt="Más informacion sobre el sistema Aspel PROD" title="Controla y la planea todos los procesos de fabricación de tus productos"/></a></div>
    <div class="logos__FACTURE"><a href="{% url 'facture' %}"> 
        <p>Aspel FACTURE</p><img src="{% static '/Images/FACT.png' %}" alt="Más informacion sobre el sistema Aspel FACTURE" title="Da de alta facturas y todo tipo de comprobantes fiscales digitales (CFDI)."/></a></div>
    <div class="logos__BANCO"><a href="{% url 'banco' %}"> 
        <p>Aspel BANCO</p><img src="{% static '/Images/BANCO.png' %}" alt="Más informacion sobre el sistema Aspel BANCO" title="Controla cualquiera de los movimientos bancarios de tu empresa"/></a></div>
  </div>
</div>

{% endblock %}