{% extends 'base_aspel.html' %}
{% load static %}
{% block content %}

<div class="noi">
  <div class="desarrollo"> 
    <h1>Aspel NOI </h1>
    <div class="desarrollo__inicio"> 
      <div class="desarrollo__inicio-logo"> <img src="{% static '/Images/NOI.png' %}" alt=""/></div>
      <div class="desarrollo__inicio-video"> 
        <video src="{% static '/videos/Aspel NOI - Optimiza el manejo de la nómina y capital humano.mp4' %}" controls="controls"> </video>
      </div>
    </div>
    <div class="desarrollo__button">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="beneficios-tab" data-bs-toggle="tab" data-bs-target="#beneficios-tab-pane" type="button" role="tab" aria-controls="beneficios-tab-pane" aria-selected="true">Beneficios</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="funciones-tab" data-bs-toggle="tab" data-bs-target="#funciones-tab-pane" type="button" role="tab" aria-controls="funciones-tab-pane" aria-selected="false">Funciones</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="precios-tab" data-bs-toggle="tab" data-bs-target="#precios-tab-pane" type="button" role="tab" aria-controls="precios-tab-pane" aria-selected="false">Precios</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="beneficios-tab-pane" role="tabpanel" aria-labelledby="beneficios-tab" tabindex="0">
          <h2>Descripcion del producto </h2>
          <p>Aspel NOI, el talento necesita administrase. <br/> <br/> Aspel NOI te ofrece un cálculo exacto de las percepciones y deducciones de los trabajadores de acuerdo con las disposiciones fiscales y laborales vigentes. Genera Comprobantes Fiscales Digitales por Internet (CFDI 3.3) de los Recibos de Nómina y asimilables a salarios.</p>
        </div>
        <div class="tab-pane fade" id="funciones-tab-pane" role="tabpanel" aria-labelledby="funciones-tab" tabindex="0">
          <h2>Sistema de Nómina Integral </h2>
          <p>Aspel-NOI tiene el <strong>control automático</strong>, manejo fácil y versatilidad de todos los elementos de una nómina empresarial:</p>
          <ul>
            <li><strong>Calcula de manera exacta</strong> las percepciones y deducciones del personal registrado, cubriendo las necesidades específicas de cada empresa.</li>
            <li>Realiza el cálculo automático de la retención <strong>I.S.R.</strong></li>
            <li>También calcula las cuotas obrero-patronales<strong>IMSS e INFONAVIT</strong>.</li>
            <li>Subsidio para el empleo y previsión social.</li>
          </ul>
          <h2>Nueva version de NOI</h2>
          <p>Sirve para automatizar el <strong>cálculo de la nómina</strong>, así como la tranquilidad de cumplir con todas las obligaciones fiscales y laborales vigentes.</p>
          <ul> 
            <li>Lleva el <strong>control de la nómina</strong> de 99 empresas</li>
            <li>Emite el <strong>CFDI 4.0</strong> de los recibos de pago de la nómina</li>
            <li>Genera diversos documentos personalizados como carta finiquito, contratos</li>
            <li><strong>Nómina</strong> del trabajador.</li>
            <li>Utiliza la <strong>conexión directa con INFONAVIT</strong> para generar las aportaciones correspondientes a tus colaboradores</li>
            <li>Cumple con el <strong>nuevo esquema de cancelación</strong>, en el que se debe indicar el motivo de cancelación del comprobante.</li>
            <li>Visualiza el detalle de tu <strong>CFDI</strong></li>
            <li>Desglosa el <strong>pago</strong> correspondiente de las vacaciones</li>
            <li>Realiza la <strong>conciliación</strong> entre los totales</li>
            <li>Agiliza el <strong>traspaso de acumulados</strong></li>
            <li>Obtén tus <strong>CFDI</strong> al timbrar de forma masiva mientras realizan otros procesos en la misma nómina.   </li>
            <li>Traductor de datos de versión anterior 9.0</li>
            <li>Realiza el <strong>envío automático del XML</strong> al depósito de documentos, para asociarlos a la contabilidad.  </li>
          </ul>
          <p>Cumple con todas las especificaciones de la reforma fiscal para el cumplimiento por ley del timbrado de los recibos de nómina como CFDI's.</p>
        </div>
        <div class="tab-pane fade" id="precios-tab-pane" role="tabpanel" aria-labelledby="precios-tab" tabindex="0">
          <h2>Suscripción</h2>
          <h3>Sistema de Nómina Integral  </h3>
          <p>
              <strong>Versión</strong>:10.0   <br/>
            <strong>Categoría</strong>:Servicios de Telecomunicaciones y Tecnología
            <strong>Solución de Escritorio.</strong> <br/>
            <strong>Especialidad</strong>:  Nómina <br/>
          </p>
          <h3>Características generales del producto </h3>
          <ul> 
            <li>Cumple con las disposiciones fiscales y laborales vigentes.</li>
            <li> Traductor automático de datos de versiones Aspel NOI 9.0.</li>
            <li> Genera en segundos la homoclave del RFC y CURP, con solo ingresar nombre y apellidos del trabajador.  </li>
            <li>Realiza el envío personalizado del recibo al trabajador.</li>
            <li>Exporta datos desde cualquier consulta.</li>
            <li> Envío automático del XML al depósito de documentos, para asociarlos a la contabilidad.</li>
            <li>Manejo de múltiples registros patronales.</li>
            <li> Actualización en línea vía Internet a las últimas mejoras de la versión</li>
            <li>Acceso seguro a la información mediante el manejo de perfiles de usuario.</li>
            <li>Genera diversos documentos personalizados a través de prácticas plantillas en Microsoft WordⓇ </li>
            <li>Exporta información en formato TXT. HTML, XML o Excel.</li>
            <li> Disponible en la modalidad de 1 usuario, 99 empresas y licencias de usuarios adicionales.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-info newBtnElement" id="infobtn" type="button" data-bs-toggle="modal" data-bs-target="#modalInfo">?</button>
  <div class="modal-info">
    <div class="modal" id="modalInfo" aria-hidden="true" aria-labelledby="modalInfo-gralLabel" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="modalInfoLabel">Solicita más <strong>información</strong></h2>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="content-form">
              <form action="">
                <div class="form-floating mb-3"> 
                  <input class="form-control form-control-lg" placeholder="Nombre" type="text" name="nombre" maxlength="80" required="required"/>
                  <label class="form-label" for="nombre">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Telefono" type="text" name="telefono" maxlength="10" required="required"/>
                  <label class="form-label" for="telefono">Telefono</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Correo" type="email" name="correo" maxlength="50" required="required"/>
                  <label class="form-label" for="correo">Correo  </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Nombre de la empresa" type="text" name="empresa" maxlength="50"/>
                  <label class="form-label" for="empresa">Nombre de la empresa   </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Mensaje" type="text" name="mensaje" maxlength="600" required="required"/>
                  <label class="form-label" for="mensaje">Mensaje </label>
                </div>
              </form>
            </div>
            <div class="modal-body__buttons"> 
              <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
              <button class="btn btn-success" data-bs-target="#modalInfoCompleta" data-bs-toggle="modal" data-bs-dismiss="modal">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalInfoCompleta" aria-hidden="true" aria-labelledby="modalInfoCompleta" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="modalInfoCompleta">Solicitud de Información </h2>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">Informacion enviada!</div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#modalInfoCompleta" data-bs-toggle="modal" data-bs-dismiss="modal">Cancelar </button>
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
