{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="empresa">
  <div class="inicio">
    <!-- imagen de inicio/frase -->
    <div class="inicio__contenido">
      <h2><strong>ROMPEMOS</strong> Paradigmas </h2>
    </div>
  </div>
  <div class="desarrollo">
    <div class="desarrollo__inicio">
      <p>Ponemos la mejor tecnología informática para impulsar a las empresas al siguiente nivel</p>
    </div>
    <div class="desarrollo__our">
      <div class="desarrollo__our-vision">
        <h2>Nuestra <strong>Visión</strong></h2>
        <p>Ser una de las empresas integradoras de soluciones mas importantes en toda América Latina, implementando
          soluciones internacionalmente tanto para micro, pequeñas y medianas empresas.</p>
      </div>
      <div class="desarrollo__our-mision">
        <h2>Nuestra <strong>Misión</strong></h2>
        <p>Desarrollar e implementar soluciones basadas en tecnología informática. Integrar soluciones de valor.
          Marcar diferencia.</p>
      </div>
    </div>
  </div>
  <div class="do">
    <div class="do__inicio">
      <!-- imagen que hacemos -->
      <div class="do__inicio-texto">
        <h2>¿Qué hacemos <strong>REALMENTE</strong>?</h2>
      </div>
    </div>
    <div class="do__descripcion">
      <div class="do__descripcion__txt">
        <p>En concreto. Damos soluciones a todas las empresas mediante tecnología informática. Desarrollamos desde
          su sitio en internet, hasta una aplicación a la medida. Automatizamos sus operaciones internas. </p>
      </div>
      <div class="do__descripcion__txt__soluciones">
        <h2>Soluciones <strong>Web</strong> </h2>
        <ul>
          <li>Dominios </li>
          <li>Hosting </li>
          <li>Desarrollo Web </li>
          <li>Certificados SSL </li>
          <li>Seguridad </li>
          <li>Correo electronico empresarial </li>
        </ul>
      </div>
      <div class="do__descripcion__txt__sadmin">
        <h2>Software <strong>Administrativo</strong></h2>
        <ul>
          <li>Ventas </li>
          <li>Compras </li>
          <li>Inventarios </li>
          <li>Contabilidad </li>
          <li>Nómina y más </li>
        </ul>
      </div>
      <div class="do__descripcion__txt__mantenimiento">
        <!-- revisar jmc soluciones para reviassr la informacion -->
        <h2><strong>Mantenimiento</strong></h2>
        <ul>
          <li>Dominios </li>
          <li>Hosting </li>
          <li>Desarrollo Web </li>
          <li>Certificados SSL </li>
          <li>Seguridad </li>
          <li>Correo electronico empresarial </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="start">
    <div class="start__banner">
      <div class="start__banner-img">
        <h2>¡<strong>Comenzamos</strong> operaciones!</h2>
      </div>
    </div>
    <div class="start__txt">
      <div class="start__txt-inicio">
        <p>Tenemos un comienzo reciente. <strong>JMC Soluciones nace en el año 2017</strong> como una empresa
          dedicada y comprometida a ofrecer soluciones tecnológicas a pequeñas y medianas empresas, cumpliendo con
          los más <strong>altos niveles de calidad</strong> en la implementación de soluciones basadas tanto en
          software como en hardware. </p>
        <p>Desde entonces, hemos establecido <strong>relaciones comerciales y profesionales</strong> con empresas de
          diferente giro. Ganándonos su confianza gracias a la calidad de nuestros productos y servicios.</p>
      </div>
      <div class="start__txt-compromiso">
        <h2>Nuestro <strong>compromiso</strong> </h2>
        <p>Acompañar a nuestros clientes en todo momento para ayudarlos a <strong>impulsar su crecimiento</strong>,
          ofreciendo siempre soluciones de calidad que garanticen el éxito a corto, mediano y largo plazo.</p>
      </div>
      <div class="start__txt-valores">
        <h2>Nuestros <strong>valores</strong> </h2>
        <ul>
          <li>Pasión </li>
          <p>Comprometidos con el corazón y mente </p>
          <li>Integridad </li>
          <p>Ser justos y transparentes </p>
          <li>Honestidad </li>
          <p>Decir siempre la verdad </p>
          <li>Trabajo en equipo </li>
          <p>Potenciar el talento colectivo </p>
          <li>Calidad </li>
          <p>Buscar la excelencia en nuestros productos y servicios </p>
          <li>Responsabilidad </li>
          <p>Cumplir con nuestros clientes en tiempo y forma</p>
        </ul>
      </div>
    </div>
  </div>
  <div class="proveedores">
    <div class="proveedores__txt">
      <h2>A todos nuestros <strong>proveedores</strong> </h2>
      <p>Sin duda nuestras <strong>relaciones comerciales</strong> son una parte muy importante del crecimiento
        continuo.</p>
      <p>En JMC Soluciones estamos siempre <strong>comprometidos</strong> con el trabajo honesto, respetuoso y sobre
        todo responsable. Seguros de <strong>impulsar</strong> nuestras marcas hacia el éxito.</p>
    </div>
  </div>
</div>

{% endblock %}