{% extends 'base_cliente.html' %}
{% load static %}
{% block content %}
<!-- mostrar_contratos.html -->
<div class="contratosCliente">
  <h2>Mis Contratos <br> <br>{{ user.username }}</h2>
  <div class="content__contratos__tabs">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="usuario-tab-pane" role="tabpanel" aria-labelledby="usuario-tab" tabindex="0"> 
        <div class="content__contratos__tabs__item__body">
          <div class="table-wrapper content__contratos__tabs__item__body__table">
            <table class="display" id="myTable" cellspacing="0" width="100%">
              <thead> 
                <tr>                 
                  <th>N°</th>
                  <th>Fecha</th>
                  <th>Vigencia</th>
                  <th>Servicio </th>
                </tr>
              </thead>
              <tbody> 
                {% for contrato in contratos %}
                <tr id="fila_id_{{contrato.id_contrato}}"></tr>
                <td>{{ contrato.id_contrato}} </td>
                <td>{{ contrato.fecha_contrato }}</td>
                <td>{{ contrato.vigencia_contrato }}</td>
                <td>{{ contrato.id_servicio.nombre_servicio }}</td>
               
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <button class="btn btn-exit" onclick="paginaInicio()" id="salir">Salir</button>
      </div>
    </div>
  </div>
  <script src="{% static '../js/inicio.js' %}"></script>
  <script>
    $(document).ready( function () {
    $('#myTable').DataTable();
    } );
  </script>
</div>





<!-- 
{% if contratos %}
  <ul>
    {% for contrato in contratos %}
      <li>{{ contrato.fecha_contrato }}</li>
     
    {% endfor %}
  </ul>
{% else %}
  <p>No hay contratos disponibles.</p>
{% endif %} -->

{% endblock %}