{% extends 'base_admin.html' %}
{% load static %}
{% block content %}
<div class="content__CtrlClientes">
  <h3 class="title">Control de clientes</h3>

  <!--------------------MODAL NUEVO CLIENTE----------------------->

  <button class="btn btn-secondary newBtnElement" type="button" data-bs-toggle="modal"
    data-bs-target="#modalNvoCliente">Nuevo</button><br><br>
  <div class="modal-nuevo-cliente">
    <div class="modal" id="modalNvoCliente" aria-hidden="true" aria-labelledby="modalNvoCliente-gralLabel"
      tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="modalNvoClienteLabel">Añadir nuevo <strong>Cliente</strong></h2>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            <div id="mensajeExito" class="alert alert-success" style="display: none;">
              Datos enviados con éxito!
            </div>
          </div>
          <!-------------modal para crear cliente--------------------------->
          <!---agregar el id a todas las etiquetas e input -------->
          <!-----name= es el nombre del campo de la base de datos-->
          <div class="modal-body">
            <div class="content-form">
              <form method="POST" action="{%url 'create' %}">
                {% csrf_token %}
                <!---verifica que es intencional el formulario y no un ataque malisioso-->
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Nombre" type="text" name="nombre"
                    maxlength="80" id="nombre" />
                  <label class="form-label" for="nombre">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Correo electronico" type="email"
                    name="correo" maxlength="50" id="correo" />
                  <label class="form-label" for="correo">Correo Electronico </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Direccion" type="text" name="direccion"
                    maxlength="100" id="direccion" />
                  <label class="form-label" for="direccion">Direccion </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="RFC" type="text" name="rfc" maxlength="13"
                    id="rfc" />
                  <label class="form-label" for="rfc">RFC</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Estado" type="text" name="estado"
                    maxlength="50" id="estado" />
                  <label class="form-label" for="estado">Estado </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Codigo Postal" type="text" name="cp"
                    maxlength="5" id="cp" />
                  <label class="form-label" for="cp">Código Postal</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="telefono" type="text" name="telefono"
                    maxlength="10" id="telefono" />
                  <label class="form -label" for="telefono">Télefono </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Nombre de contacto" type="text"
                    name="username" maxlength="50" id="username" />
                  <label class="form-label" for="username">Nombre de contacto</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Contraseña" type="password" name="password"
                    maxlength="12" id="password" />
                  <label class="form-label" for="password">Contraseña</label>
                </div>
                <div class="form-group mb-3">
                  <label class="form-label" for="nombreServicio">Servicio</label>
                  <select class="form-control form-control-lg form-select" name="id_servicio" aria-describedby="emailHelp" placeholder="" id="nombreServicio">
                      <option value="1">Servicio Uno</option>
                      <option value="2">Servicio Dos</option>
                      <option value="3">Servicio Tres</option>
                      <option value="4">Servicio Cuatro</option>
                      <option value="5">Servicio Cinco</option>
                  </select>
                </div>
                {% if messages %}
                <div class="row">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        <p>{{ message }}</p>
                    </div>
                    {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="modal-body__buttons">
              <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
              <button class="btn btn-success" data-bs-target="#modalCliente" data-bs-toggle="modal"
                data-bs-dismiss="modal">Guardar</button>
            </div>
            </form>

          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalCliente" aria-hidden="true" aria-labelledby="modalCliente" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalCliente">Nuevo cliente </h3>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">Cliente creado!</div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#modalCliente" data-bs-toggle="modal"
              data-bs-dismiss="modal">Cancelar </button>
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-wrapper content__CtrlClientes__tabs__item__body__table">
    <table class="display" id="myTable" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Servicio</th>
          <th>Detalles</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in clientes %}
        <!---bucle de cliente en cliente---->
        <tr id="fila_id_{{cliente.id_cliente}}">
          <!---id para la fila de la tabla-->
          <!---se accede a los datos almacenados en la base de datos-->
          <td>{{ cliente.id_cliente}} </td>
          <td>{{ cliente.nombre}} </td>
          <td>{{ cliente.correo}} </td>
          <td>{{ cliente.id_servicio.nombre_servicio }}</td>
          <td>
            <a href="{% url 'editar_cliente' cliente.id_cliente %}" data-bs-toggle="modal"
              data-id="{{ cliente.id_cliente }}" data-bs-target="#modalEditar" title="Modificar">
              <button class="btn btn-link newBtnElement" type="button">Ver mas ...</button></a>
          </td>
          <td> <a href="{% url 'editar_cliente' cliente.id_cliente %}" data-bs-toggle="modal"
              data-id="{{ cliente.id_cliente }}" data-bs-target="#modalEditar" title="Modificar"> <i
                class="bi bi-pencil-square"></i></a>
            <a href="{% url 'eliminar_cliente' cliente.id_cliente %}" data-bs-toggle="modal"
              data-bs-target="#modalEliminar" data-id="{{ cliente.id_cliente }}" title="Eliminar"> <i
                class="bi bi-trash3-fill"></i></a></td>
        </tr>
        {% endfor %}
        <!-------------modal para modificar cliente--------------------------->
        <div class="modal-modificar-cliente">
          <div class="modal" id="modalEditar" aria-hidden="true" aria-labelledby="modalEditarLabel" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="modalEditarLabel">Modificar <strong>Cliente</strong></h2>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="content-form">
                    <form action="#" id="editarClienteForm" method="POST">
                      {% csrf_token %}
                      <!-----NOMBRE-->
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Nombre" type="text" name="nombre"
                          maxlength="80" id="nombre2" required />
                        <label class="form-label" for="nombre2">Nombre</label>
                      </div>
                        <!---CORREO-->
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Correo electronico" type="email"
                          name="correo" maxlength="50" id="correo2" required />
                        <label class="form-label" for="correo2">Correo Electronico </label>
                      </div>
                        <!---DIERCCION-->
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Direccion" type="text" name="direccion"
                          maxlength="100" id="direccion2" required />
                        <label class="form-label" for="direccion2">Direccion </label>
                      </div>
                        <!----RFC---->
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="RFC" type="text" name="rfc"
                          maxlength="13" id="rfc2" required />
                        <label class="form-label" for="rfc2">RFC</label>
                      </div>
                        <!------------ESTADO---------->
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Estado" type="text" name="estado"
                          maxlength="50" id="estado2" required />
                        <label class="form-label" for="estado2">Estado </label>
                      </div>
                        <!-----CP--------->
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Codigo Postal" type="text" name="cp"
                          maxlength="5" id="cp2" required />
                        <label class="form-label" for="cp2">Código Postal</label>
                      </div>
                        <!-----TELEFONO-->
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="telefono" type="text" name="telefono"
                          maxlength="10" id="telefono2" required />
                        <label class="form -label" for="telefono2">Télefono </label>
                      </div>
                        <!-----NOMBRE DE USUARIO---->
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Nombre de contacto" type="text"
                          name="username" maxlength="50" id="username2" required />
                        <label class="form-label" for="username2">Nombre de usuario</label>
                      </div>
                        <!-----CONTRASEÑA----->
                      <div class="form-floating mb-3">
                        <input class="form-control form-control-lg" placeholder="Contraseña" type="password"
                          name="password" maxlength="12" id="password2" required />
                        <label class="form-label" for="password2">Contraseña</label>
                      </div>
                      <div class="form-group mb-3">
                        <label class="form-label" for="nombreServicio2">Servicio</label>
                        <select class="form-control form-control-lg form-select" name="id_servicio" aria-describedby="emailHelp" placeholder="" id="nombreServicio2">
                            <option value="1">Servicio Uno</option>
                            <option value="2">Servicio Dos</option>
                            <option value="3">Servicio Tres</option>
                            <option value="4">Servicio Cuatro</option>
                            <option value="5">Servicio Cinco</option>
                        </select>
                      </div>
                  </div>
                  <div class="modal-body__buttons">
                    <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-dismiss="modal">Guardar</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="modalEliminar" aria-hidden="true" aria-labelledby="modalEliminarLabel"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalEliminarModalLabel">Eliminar</h5>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">¿Estas seguro que desdeas eliminar?</div>
                <div class="modal-footer">
                  <button class="btn btn-primary" data-bs-target="#modalEliminar" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Cancelar </button>
                  <button id="confirmarEliminar" class="btn btn-secondary" type="button"
                    data-bs-dismiss="modal">Aceptar</button>
                </div>
              </div>
            </div>
          </div>
      </tbody>
      <script>      
      $(document).ready(function () {
        $('#myTable').DataTable();

        $('a[data-bs-toggle="modal"]').on('click', function () {
          var targetModalId = $(this).data('bs-target');
          var id_cliente= $(this).data('id');
          //Cconole.log permite visualizar en id del registro en la consola del navegador
          //console.log('ID de la subcategoria:', id_subcategoria);
    
          // Verificar si es el modal de eliminación
          if (targetModalId === '#modalEliminar') {
            // Actualizar el ID en el botón de eliminación
            $('#confirmarEliminar').data('id', id_cliente);
          } else {
            // AJAX para cargar información del registro en el modal de edición
            $.ajax({
                url: '{% url "editar_cliente" id_cliente=0 %}'.replace('0', id_cliente),
                type: 'GET',
                data: { 'id_cliente': id_cliente },
                success: function (data) {
                    // Permite ver la informacion del registro en consola.
                    //console.log('Datos cargados:', data);
                    // formulario con los datos de la subcategoria
                    $('#editarClienteForm').attr('action', '{% url "editar_cliente" id_cliente=0 %}'.replace('0', id_cliente));
                    $('#nombre2').val(data.nombre);
                    $('#correo2').val(data.correo);
                    $('#direccion2').val(data.direccion);
                    $('#telefono2').val(data.telefono);
                    $('#rfc2').val(data.rfc);
                    $('#estado2').val(data.estado);
                    $('#cp2').val(data.cp);
                    $('#username2').val(data.username);
                    $('#password2').val(data.password);
                    $('#nombreServicio2').val(data.id_servicio);  // Actualizar el campo id_categoria
                },
                error: function (xhr, status, error) {
                    console.error('Error al cargar la información del registro:', error);
                    alert('Error al cargar la información del registro.');
                }
            });

          }
        });
    
        // Manejar clic en el botón de eliminación
        $('#confirmarEliminar').on('click', function () {
          var id_cliente = $(this).data('id');
          if (id_cliente !== undefined) {
            $.ajax({
              url: '{% url "eliminar_cliente" id_cliente=0 %}'.replace('0', id_cliente),
              type: 'POST',
              dataType: 'json',
              data: { 'id_cliente': id_cliente },
              success: function (response) {
                console.log('Respuesta del servidor:', response);
                alert('Registro eliminado correctamente');
                // Cerrar el modal después de la eliminación
                $('#modalEliminar').modal('hide');
                 // Recargar la página después de la eliminación
                //location.reload();
                  // Eliminar la fila correspondiente de la tabla
                var table = $('#myTable').DataTable();
                table.row('#fila_id_' + id_cliente).remove().draw();
              },
              error: function (xhr, status, error) {
                console.error('Error al eliminar el registro:', error);
                alert('Error al eliminar el registro.');
              }
            });
    
          } else {
            console.error('ID de cliente no definido al intentar eliminar el registro.');
            alert('Error al eliminar el registro: ID no definido.');
          }
        });    
      });
      </script>
    </table>
  </div>
  <button class="btn btn-exit" onclick="paginaInicio()" id="salir">Salir</button>
<script src="{% static './js/inicio.js' %}"></script>
{% endblock %}