{% extends 'base_cliente.html' %}
{% load static %}
{% block content %}

<div class="pagosCliente">
  <h2>Mis Equipos <br> <br>{{ user.username }}</h2>
  <div class="content__contratos__tabs">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="usuario-tab-pane" role="tabpanel" aria-labelledby="usuario-tab" tabindex="0"> 
        <div class="content__contratos__tabs__item__body">
          <div class="table-wrapper content__contratos__tabs__item__body__table">
            <table class="display" id="myTable" cellspacing="0" width="100%">
              <thead> 
                <tr>                 
                  <th>N°</th>
                  <th>Equipo</th>
                  <th>Usuario </th>
                  <th>Anydesk</th>
                  <th>Antivirus </th>
                  <th>Office</th>
                </tr>
              </thead>
              <tbody> 
                {% for equipo in equipos %}
                <tr id="fila_id_{{equipo.id_equipo}}"></tr>
                <td>{{ equipo.id_equipo}} </td>
                <td>{{ equipo.tipo_equipo }}</td>
                <td>{{ equipo.nom_usuario }}</td>
                <td>{{ equipo.anydesk }}</td>
                <td>{{ equipo.nom_antivirus }}</td>
                <td>{{ equipo.office }}</td>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
        <button class="btn btn-exit" onclick="paginaInicio()" id="salir">Salir</button>
      </div>
    </div>
    <script src="{% static '../js/inicio.js' %}"></script>
    <script>
      $(document).ready( function () {
      $('#myTable').DataTable();
      } );
    </script>
  </div>
</div>

{% endblock %}